<div class="colleges" id="index">

  <div class="jumbotron">
    <h2>Menu de Faculdades </h2>
    <div class="collegebox">
      <% @colleges.each do |college| %>
        <div class="college">
          <span class="tooltiptext">
            <table>
              <tr>
                <td>Nome</td>
                <td><%= college.name %></td>
              </tr>
              <tr>
                <td>Sigla</td>
                <td><%= college.initials %></td>
              </tr>
              <tr>
                <td>Cidade</td>
                <td><%= college.city %></td>
              </tr>
              <tr>
                <td>Estado</td>
                <td><%= college.state %></td>
              </tr>
              <tr>
                <td>País</td>
                <td><%= college.country %></td>
              </tr>
              <tr class="noBorder">
                <td>Unidade</td>
                <td><%= college.unit %></td>
              </tr>
            </table>
          </span>

          <a class="overlay" href="<%=college_spotteds_path(college.id) %>"><span><%= college.initials %> - <%= college.unit %></span></a>
          
          <div class="options">
            <% if isPageAdmin(college.id) %>
              <%= link_to image_tag('star-purple.png'), favorite_college_path(college, type: "admin"), method: :put, id: "star-purple" %>
            <% else %>
              <% if already_favorited(college.id) %>
                <%= link_to image_tag('star.png'), favorite_college_path(college, type: "unfavorite"), method: :put, id: "star" %>
              <% else %>
                <%= link_to image_tag('star-white.png'), favorite_college_path(college, type: "favorite"), method: :put, id: "star-white" %>
              <% end %>
            <% end %>
          </div>
        </div>

      <%end%>
    </div>

    <div class="btn-create">
      <%= button_to 'Criar nova página', new_college_path, method: "get", class: 'botao large' %>
    </div>
  </div>
</div>

