
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1 text-center">Nosso Time</h5>
        <div class="row", style='width:100%'>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><br><br><%= image_tag( 'fe.jpg', alt:"card image") %></p>
                                    <h4 class="card-title">Fernado Karchiloff</h4>
                                    <p class="card-text">Desenvolvedor Full Stack</p>
                                    <i class="fa fa-laptop"></i>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <br> <br> <br> <br>
                                    <h4 class="card-title">Vive codando</h4>
                                    <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiário de desenvolvimento na Arbit Consultoria. </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/fer.kar.gouv">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/fernandokarchiloff/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><br><br><%= image_tag( 'higor.jpg', alt:"card image") %></p>
                                    <h4 class="card-title">Higor Moles</h4>
                                    <p class="card-text">Desenvolvedor Full Stack</p>
                                    <i class="fa fa-laptop"></i>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <br> <br> <br> <br>
                                    <h4 class="card-title">Vive codando</h4>
                                    <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiário de desenvolvimento na Digte</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/higor.moles">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/higor-moles-a5777a193/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><br><br><%= image_tag( 'leo.jpg', alt:"card image") %></p>
                                    <h4 class="card-title">Leonardo Giraldi</h4>
                                    <p class="card-text">Desenvolvedor Full Stack</p>
                                    <i class="fa fa-laptop"></i>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <br> <br> <br> <br>
                                    <h4 class="card-title">Vive Codando</h4>
                                    <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiário de desenvolvimento na Digte</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/leonardo.giraldi.54">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/leonardo-giraldi-74041213a/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><br><br><%= image_tag( 'lucas.jpg', alt:"lucas") %></p>
                                    <h4 class="card-title">Lucas Perez</h4>
                                    <p class="card-text">Desenvolvedor Full Stack</p>
                                    <i class="fa fa-laptop"></i>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <br> <br> <br> <br>
                                    <h4 class="card-title">Apaixonado por Data Science <3</h4>
                                    <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiário atuando como engenheiro de soluções na Salesforce</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/Lucasperezch">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/lucas-perez-chabariberi/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><br><br><%= image_tag( 'nataly.jpg', alt:"card image") %></p>
                                    <h4 class="card-title">Nataly Patti</h4>
                                    <p class="card-text">Desenvolvedora Full Stack</p>
                                    <i class="fa fa-laptop"></i>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <br> <br> <br> <br>
                                    <h4 class="card-title">Apaixonada por Data Science <3</h4>
                                    <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiária de Machine Learnig na Talentify</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/nataly.patti">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/nataly-patti-b48903141/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</section>
<!-- Team -->