
<!-- Team -->
<section id="team" class="pb-5">
<div class="bg-light">
<div class="container py-5">
    <div class="row h-100 align-items-center py-5">
    <div class="col-lg-6">
        <h1 class="display-4">Spottapp</h1>
        <p class="lead text-muted">O Spottapp é uma aplicação Web para mandar Spotteds para o seu crush predileto! Facilidade de enviar a sua mensagem através do spotted da instituição </p>
    </div>
    <div class="col-lg-6 d-none d-lg-block"><img src="https://image.freepik.com/free-vector/vector-collection-business-people_53876-44090.jpg" alt="" class="img-responsive"></div>
    </div>
</div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center" id="blockContainer">
            <div class="col-lg-5 px-5 mx-auto" id="second-div"><img src="https://image.freepik.com/free-vector/man-inviting-people-join-social-networks-metaphor_81522-3922.jpg" alt="" class="img-responsive"></div>
            <div class="col-lg-6">
                <br><br><br>
                <h2 class="font-weight-light" id="first-div">História</h2>
                <p class="lead text-muted mb-0" id='first-div'>Aplicação criada como proposta de um projeto para a matéria de Engenharia de Sistemas de Informação na EACH - USP</p>
            </div>
        </div>
        <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"></i>
            <h2 class="font-weight-light">Objetivos</h2>
            <p class="lead text-muted mb-0">O objetivo do Spottapp é centralizar todos os spotteds em apenas uma aplicação e ainda assim garantir a independência e identificação dos mesmos, além de fazer com que a publicação das mensagens seja feita de maneira instantânea, sem a necessidade de um administrador.</p> </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://image.freepik.com/free-vector/cartoon-people-with-bubble-speech-social-media-vector-illustration_81522-3248.jpg" alt="" class="img-responsive"></div>
        </div>
    </div>
</div>



<h5 class="section-title h1 text-center">Nosso Time</h5>
    <div class="row", style='width:100%'>
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><br><br><%= image_tag( 'fe.jpg', alt:"card image") %></p>
                                <h4 class="card-title">Fernado Karchiloff</h4>
                                <p class="card-text">Desenvolvedor Full Stack</p>
                                <i class="fa fa-laptop"></i>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <br> <br> <br> <br>
                                <h4 class="card-title">Vive codando</h4>
                                <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiário de desenvolvimento na Arbit Consultoria. </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/fer.kar.gouv">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/fernandokarchiloff/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><br><br><%= image_tag( 'higor.jpg', alt:"card image") %></p>
                                <h4 class="card-title">Higor Moles</h4>
                                <p class="card-text">Desenvolvedor Full Stack</p>
                                <i class="fa fa-laptop"></i>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <br> <br> <br> <br>
                                <h4 class="card-title">Vive codando</h4>
                                <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiário de desenvolvimento na Digte</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/higor.moles">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/higor-moles-a5777a193/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><br><br><%= image_tag( 'leo.jpg', alt:"card image") %></p>
                                <h4 class="card-title">Leonardo Giraldi</h4>
                                <p class="card-text">Desenvolvedor Full Stack</p>
                                <i class="fa fa-laptop"></i>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <br> <br> <br> <br>
                                <h4 class="card-title">Vive Codando</h4>
                                <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiário de desenvolvimento na Digte</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/leonardo.giraldi.54">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/leonardo-giraldi-74041213a/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><br><br><%= image_tag( 'lucas.jpg', alt:"lucas") %></p>
                                <h4 class="card-title">Lucas Perez</h4>
                                <p class="card-text">Desenvolvedor Full Stack</p>
                                <i class="fa fa-laptop"></i>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <br> <br> <br> <br>
                                <h4 class="card-title">Apaixonado por Data Science <3</h4>
                                <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiário atuando como engenheiro de soluções na Salesforce</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/Lucasperezch">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/lucas-perez-chabariberi/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><br><br><%= image_tag( 'nataly.jpg', alt:"card image") %></p>
                                <h4 class="card-title">Nataly Patti</h4>
                                <p class="card-text">Desenvolvedora Full Stack</p>
                                <i class="fa fa-laptop"></i>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <br> <br> <br> <br>
                                <h4 class="card-title">Apaixonada por Data Science <3</h4>
                                <p class="card-text">Estudante de Sistemas de Informação na Universidade de São Paulo (USP). Estagiária de Machine Learnig na Talentify</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/nataly.patti">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/nataly-patti-b48903141/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

</section>
