<div class="welcome" id="index">

  <div class="jumbotron">
    <div class="login-area">
      <p>
        <div class="big-screen">
          <%= image_tag("spottapp_logo.svg", height: "76") %>
        </div>

        <div class="medium-screen">
          <%= image_tag("spottapp_logo.svg", height: "45") %>
        </div>

        <div class="small-screen">
          <%= image_tag("spottapp_icon_logo.svg", height: "70") %>
        </div>

        <br>
        Encontre seu crush aqui
      </p>
      
      <%= button_to 'Crie Sua Conta', new_user_path, method: "get", action: "create", class: 'botao' %>

      <%= button_to 'Faça Login', entrar_path, method: "get", action: "create", class: 'botao' %>
    </div>
  </div>

</div>