<%= form_for @college_whitelist, url: college_college_whitelists_path do |form| %>
  <% if college_whitelist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(college_whitelist.errors.count, "error") %> prohibited this college_whitelist from being saved:</h2>

      <ul>
      <% college_whitelist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <%= form.hidden_field :status, :value => :pending %>
  <div class="actions">
    <%= form.submit 'Pedir permissão', class: 'btn btn-primary' %>
  </div>
<% end %>