<div class="college_whitelists" id="index">

  <div class="jumbotron">
    <h2>Permissões de entrada</h2>

    <div class="options">
    
      <div class="pending">
        <div class="thead">
          <table>
            <tr>
              <th>Pendentes</th>
            </tr>
          </table>
        </div>
        <div class="tbody">
          <table>
            <% @college_whitelists.each do |college_whitelist| %>
              <% if (college_whitelist.status == 'pending') %>
                <tr>
                  <td class="column-name"><%= college_whitelist.user.first_name + ' ' + college_whitelist.user.last_name %></td>
                  <td class="column-btn">
                    <div class="btn-area">
                      <%= button_to 'Aprovar', { action: "update", :college_whitelist => {:status => :approved}, :college_id => college_whitelist.college_id, :id => college_whitelist.id}, method: "patch", class: "botao super small" %>
                      <%= button_to 'Rejeitar', { action: "update", :college_whitelist => {:status => :rejected}, :college_id => college_whitelist.college_id, :id => college_whitelist.id}, method: "patch", class: "botao super small" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>

      <div class="approved">
        <div class="thead">
          <table>
            <tr>
              <th>Aprovados</th>
            </tr>
          </table>
        </div>
        <div class="tbody">
          <table>
            <% @college_whitelists.each do |college_whitelist| %>
              <% if (college_whitelist.status == 'approved') %>
                <tr>
                  <td class="column-name"><%= college_whitelist.user.first_name + ' ' + college_whitelist.user.last_name %></td>
                  <% if !isUserAdminOfPage(college_whitelist.college.id, college_whitelist.user.id) %>
                    <td class="column-btn"><%= button_to 'Revogar', { action: "update", :college_whitelist => {:status => :pending}, :college_id => college_whitelist.college_id, :id => college_whitelist.id}, method: "patch", class: "botao super small" %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>

      <div class="rejected">
        <div class="thead">
          <table>
            <tr>
              <th>Rejeitados</th>
            </tr>
          </table>
        </div>
        <div class="tbody">
          <table>
            <% @college_whitelists.each do |college_whitelist| %>
              <% if (college_whitelist.status == 'rejected') %>
                  <tr>
                    <td class="column-name"><%= college_whitelist.user.first_name + ' ' + college_whitelist.user.last_name %></td>
                    <td class="column-btn"><%= button_to 'Revogar', { action: "update", :college_whitelist => {:status => :pending}, :college_id => college_whitelist.college_id, :id => college_whitelist.id}, method: "patch", class: "botao super small" %></td>
                  </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
      
    </div>
  </div>
  
</div>