<style>
    <%= @college_style %>
</style>

<h2>Spotteds de <%= @college.name %>

<% if current_user %>
    <% if already_favorited(@college.id) %>
    <td style="text-align: center"><%= link_to image_tag('star-bigger.png'), favorite_college_path(@college, type: "unfavorite"), method: :put %></td>
    <% else %>
    <td style="text-align: center"><%= link_to image_tag('star-bigger-white.png'), favorite_college_path(@college, type: "favorite"), method: :put %></td>
    <% end %>
<% end %>

</h2>

<p><%= link_to 'Novo spotted', new_college_spotted_path, class: 'btn btn-primary btn-lg' %></p>
<p><%= link_to 'Voltar', colleges_path, class: 'btn btn-primary' %></p>

<hr>

<% @spotteds.each do |spotted| %>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <%= spotted.college_spotted_counter %>. <%= spotted.content %>
        </p>
        <% pre_like = spotted.like.find { |like| like.user_id == current_user.id} %>
        <% like_count = spotted.like.count %>
            <p>
                <% if pre_like %>
                    <%= (like_count) == 1 ? 'Você curtiu' : (like_count - 1) < 2 ? 'Você e mais ' + (like_count - 1).to_s + ' pessoa curtiu' : 'Você e mais ' + (like_count - 1).to_s + ' pessoas curtiram' %>
                <% else %>
                    <%if like_count >= 1 %>
                        <%= (like_count) == 1 ? 'Uma pessoa curtiu' : like_count.to_s + ' pessoas curtiram' %>
                    <% else %>
                    <% end %>
                <% end %>
            </p>
        <% if pre_like %> 
            <%= link_to image_tag('thumbs-up-hand-symbol.png'), college_spotted_like_path(spotted.college, spotted, pre_like), method: :delete %>
        <% else %>
            <%= link_to image_tag('thumbs-up.png'), college_spotted_likes_path(spotted.college, spotted), method: :post %>
        <% end %>
        <%= link_to 'Ver spotted', college_spotted_path(:college_id, spotted.id), class: 'btn btn-primary btn-sm' %>
    </div>
</div>
<% end %>
