<% content_for :for_head do %>
    <style>
        <%= @college_style %>
    </style>
    <link href="<%= @font_google_link %>" rel='stylesheet'>
<% end %>

<h2 class="title"><%= @college.name %>

<% if current_user.id == @college.user_id %>
    <td style="text-align: center"><%= link_to image_tag('star-bigger-purple.png'), favorite_college_path(@college, type: "admin"), method: :put, id: "star-purple" %></td>
<% else %>
    <% if already_favorited(@college.id) %>
        <td style="text-align: center"><%= link_to image_tag('star-bigger.png'), favorite_college_path(@college, type: "unfavorite"), method: :put, id: "star" %></td>
    <% else %>
        <td style="text-align: center"><%= link_to image_tag('star-bigger-white.png'), favorite_college_path(@college, type: "favorite"), method: :put, id: "star-white" %></td>
    <% end %>
<% end %>

</h2>

<div class="container-area" id="index">

    <div class="container-left"> 
        <p>
            <table>
                <thead>
                    <tr>
                        <th class="col1"></th>
                        <th class="col2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nome</td>
                        <td><%= @college.name %></td>
                    </tr>
                    <tr>
                        <td>Sigla</td>
                        <td><%= @college.initials %></td>
                    </tr>
                    <tr>
                        <td>Cidade</td>
                        <td><%= @college.city %></td>
                    </tr>
                    <tr>
                        <td>Estado</td>
                        <td><%= @college.state %></td>
                    </tr>
                    <tr>
                        <td>País</td>
                        <td><%= @college.country %></td>
                    </tr>
                    <tr>
                        <td>Unidade</td>
                        <td><%= @college.unit %></td>
                    </tr>
                </tbody>
            </table>
        </p>
        <div class="botoes">
            <br>
            <p><%= link_to 'Novo spotted', new_college_spotted_path, class: 'btn' %></p>
            <% if isPageAdmin(@college.id) %>
                <p><%= link_to "Editar", edit_college_path(@college.id), class: 'btn', id: "editar-button" %></p>
            <% end %>
            <p><%= link_to 'Voltar', colleges_path, class: 'btn' %></p>
        </div>
    </div>

    <div class="panel panel-default">
        <% @spotteds.reverse_each do |spotted| %>
            <div class="panel-body">
                <div class="spotted-content">
                    <div class="spotted-number">
                        <%= link_to college_spotted_path(:college_id, spotted.id) do %>
                            Spotted <%= spotted.college_spotted_counter %>
                        <% end %>
                    </div>
                    <%= simple_format(spotted.content) %>
                    <% pre_like = spotted.like.find { |like| like.user_id == current_user.id} %>
                    <% like_count = spotted.like.count %>
                    <p>
                        <% link = '' %>
                        <% if pre_like %>
                            <% link = (like_count) == 1 ? 'Você curtiu' : (like_count - 1) < 2 ? 'Você e mais ' + (like_count - 1).to_s + ' pessoa curtiu' : 'Você e mais ' + (like_count - 1).to_s + ' pessoas curtiram' %>
                        <% else %>
                            <%if like_count >= 1 %>
                                <% link = (like_count) == 1 ? 'Uma pessoa curtiu' : like_count.to_s + ' pessoas curtiram' %>
                            <% else %>
                            <% end %>
                        <% end %>
                        <%= link_to link, list_likes_path(spotted_id: spotted.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => "#modal-window"}%>
                    </p>
                </div>
                <div class="spotted-options">
                    <div class="thumbs">
                        <% if pre_like %> 
                            <%= link_to image_tag('thumbs-up-hand-symbol.png'), spotted_like_path(spotted, pre_like), method: :delete %>
                        <% else %>
                            <%= link_to image_tag('thumbs-up.png'), spotted_likes_path(spotted), method: :post %>
                        <% end %>
                    </div>
                    <div class="trash">
                        <% if @current_user.id == @college.user_id %> 
                            <%= link_to college_spotted_path(:college_id, spotted.id), method: :delete, data: { confirm: "Você tem certeza que deseja apagar este spotted? Essa ação não pode ser desfeita." }, id: "trash-bt" do %>
                                <i class="fa fa-trash fa-2x"  style="color:black"></i> 
                            <% end %>
                        <% end %>
                    </div>
                    <%= link_to 'Ver spotted', college_spotted_path(:college_id, spotted.id), class: 'btn btn-sm' %>
                </div>
            </div>
        <% end %>
    </div>

    <div id="clear"></div>

</div>
