<style>
    <%= @college_style %>
</style>

<h2>Spotteds de <%= @college.name %>

<% if current_user %>
    <% if already_favorited(@college.id) %>
    <td style="text-align: center"><%= link_to image_tag('star-bigger.png'), favorite_college_path(@college, type: "unfavorite"), method: :put %></td>
    <% else %>
    <td style="text-align: center"><%= link_to image_tag('star-bigger-white.png'), favorite_college_path(@college, type: "favorite"), method: :put %></td>
    <% end %>
<% end %>

</h2>

<%= link_to 'Novo spotted', new_college_spotted_path, class: 'btn btn-primary btn-lg' %>
<hr>

<% @spotteds.each do |spotted| %>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <%= spotted.college_spotted_counter %>. <%= spotted.content %>
        </p>
        <p><%= spotted.like.count %> <%= (spotted.like.count) == 1 ? 'Like' : 'Likes'%></p>
        <%= link_to 'Ver spotted', college_spotted_path(:college_id, spotted.id), class: 'btn btn-primary btn-sm' %>
        <% pre_like = spotted.like.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
            <%= button_to 'Unlike', college_spotted_like_path(spotted.college, spotted, pre_like), method: :delete %>
        <% else %>
            <%= button_to 'Like', college_spotted_likes_path(spotted.college, spotted), method: :post %>
        <% end %>
    </div>
</div>
<% end %>
