<% content_for :for_head do %>
    <style>
        <%= @college_style %>
    </style>
    <link href="<%= @font_google_link %>" rel='stylesheet'>
<% end %>

<div class="spotteds" id="new">

    <h2 class="title"><%= @college.name %>

        <% if isPageAdmin(@college.id) %>
            <td style="text-align: center"><%= link_to image_tag('pink_star.svg'), favorite_college_path(@college, type: "admin"), method: :put, id: "star-purple" %></td>
        <% else %>
            <% if already_favorited(@college.id) %>
                <td style="text-align: center"><%= link_to image_tag('yellow_star.svg'), favorite_college_path(@college, type: "unfavorite"), method: :put, id: "star" %></td>
            <% else %>
                <td style="text-align: center"><%= link_to image_tag('white_star.svg'), favorite_college_path(@college, type: "favorite"), method: :put, id: "star-white" %></td>
            <% end %>
        <% end %>

    </h2>

    <div class="spotted-content">
        <%= form_for(@spotted, url: college_spotteds_path) do |f| %>
            <%= render 'layouts/error_messages', object: f.object %>
            <div class=form-group>
                <%= f.label :content %>
                <%= f.text_area :content, class: 'form-control', id: 'text-area', placeholder: 'Escreva o seu spotted aqui' %>
                <%= f.file_field :image, class: 'form-control' %>
            </div>
            <%= f.submit 'Mandar spotted', class: 'botao' %>
        <% end %>
        <p>
            <%= button_to 'Voltar', college_spotteds_path, method: "get", class: 'botao' %>
        </p>
    </div>

</div>