<% content_for :for_head do %>
    <style>
        <%= @college_style %>
    </style>
    <link href="<%= @font_google_link %>" rel='stylesheet'>
<% end %>

<div id="new">

    <h2 class="title">Mande seu spotted!</h2>

    <div class="spotted-content">
        <%= form_for(@spotted, url: college_spotteds_path) do |f| %>
            <%= render 'layouts/error_messages', object: f.object %>
            <div class=form-group>
                <%= f.label :content %>
                <%= f.text_area :content, class: 'form-control', id: 'text-area', placeholder: 'Escreva o seu spotted aqui' %>
                <%= f.file_field :image, class: 'form-control' %>
            </div>
            <div class="botoes">
                <%= f.submit 'Mandar spotted', class: 'btn' %>
                <%= link_to 'Voltar', college_spotteds_path(college_id: @college.id), class: 'btn' %></p>
            </div>
        <% end %>
    </div>

</div>