<div class="user" id="new">

    <div class="jumbotron">
        <div class="register-area">
            <div class="form">
                <h2>Cadastre-se</h1>
                <%= form_for @user do |f| %>

                    <%= render 'layouts/error_messages', object: f.object %>

                    <div class="box">
                        <div class="left">
                            <%= f.label :first_name %>
                            <%= f.text_field :first_name, class: 'form-control' %>
                        </div>
                        <div class="right">
                            <%= f.label :last_name %>
                            <%= f.text_field :last_name, class: 'form-control' %>
                        </div>
                    </div>

                    <div class="box">
                        <div class="left">
                            <%= f.label :nickname %>
                            <%= f.text_field :nickname, class: 'form-control' %>
                        </div>
                        <div class="right">
                            <%= f.label :birth_date %>
                            <%= f.date_field :birth_date, class:'form-control' %>
                        </div>
                    </div>

                    <div class="email">
                        <%= f.label :email %>
                        <%= f.text_field :email, class: 'form-control' %>  
                    </div>

                    <hr>

                    <div class="box">
                        <div class="left">
                            <%= f.label :password %>
                            <%= f.password_field :password, class: 'form-control' %>
                        </div>

                        <div class="right">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, class: 'form-control' %>
                        </div>
                    </div>

                    <hr>

                    <div class="box">
                        <div class="left">
                            <%= f.label :country %>
                            <%= f.text_field :country, class: 'form-control' %>
                        </div>
                        
                        <div class="right">
                            <%= f.label :state %>
                            <%= f.text_field :state, class: 'form-control' %>
                        </div>
                    </div>

                    <div class="city">
                        <%= f.label :city %>
                        <%= f.text_field :city, class: 'form-control' %>
                    </div>

                    <hr>

                    <div class="fav-pages" id="div-see-fav-pages">
                        <%= check_box_tag :see_fav_pages, 1, false, id: "checkbox" %>
                        <label class="form-check-label" for="see_fav_pages">Desejo ver as páginas recomendadas para mim</label>
                    </div>

                    <div class="register">
                        <%= f.submit 'Cadastrar', class: 'botao' %>
                    </div>

                <% end %>

                <script>
                    var latitude = null;
                    var longitude = null;
                    var cidade = null;
                    var estado = null;
                    var pais = null;
                    var estados_brasil = [
                        {
                            estado_sigla: 'AC',
                            estado: 'Acre'
                        },
                        {
                            estado_sigla: 'AL',
                            estado: 'Alagoas'
                        },
                        {
                            estado_sigla: 'AP',
                            estado: 'Amapá'
                        },
                        {
                            estado_sigla: 'AM',
                            estado: 'Amazonas'
                        },
                        {
                            estado_sigla: 'BA',
                            estado: 'Bahia'
                        },
                        {
                            estado_sigla: 'CE',
                            estado: 'Ceará'
                        },
                        {
                            estado_sigla: 'DF',
                            estado: 'Distrito Federal'
                        },
                        {
                            estado_sigla: 'ES',
                            estado: 'Espírito Santo'
                        },
                        {
                            estado_sigla: 'GO',
                            estado: 'Goiás'
                        },
                        {
                            estado_sigla: 'MA',
                            estado: 'Maranhão'
                        },
                        {
                            estado_sigla: 'MT',
                            estado: 'Mato Grosso'
                        },
                        {
                            estado_sigla: 'MS',
                            estado: 'Mato Grosso do Sul'
                        },
                        {
                            estado_sigla: 'MG',
                            estado: 'Minas Gerais'
                        },
                        {
                            estado_sigla: 'PA',
                            estado: 'Pará'
                        },
                        {
                            estado_sigla: 'PB',
                            estado: 'Paraíba'
                        },
                        {
                            estado_sigla: 'PR',
                            estado: 'Paraná'
                        },
                        {
                            estado_sigla: 'PE',
                            estado: 'Pernambuco'
                        },
                        {
                            estado_sigla: 'PI',
                            estado: 'Piauí'
                        },
                        {
                            estado_sigla: 'RJ',
                            estado: 'Rio de Janeiro'
                        },
                        {
                            estado_sigla: 'RN',
                            estado: 'Rio Grande do Norte'
                        },
                        {
                            estado_sigla: 'RS',
                            estado: 'Rio Grande do Sul'
                        },
                        {
                            estado_sigla: 'RO',
                            estado: 'Rondônia'
                        },
                        {
                            estado_sigla: 'RR',
                            estado: 'Roraima'
                        },
                        {
                            estado_sigla: 'SC',
                            estado: 'Santa Catarina'
                        },
                        {
                            estado_sigla: 'SP',
                            estado: 'São Paulo'
                        },
                        {
                            estado_sigla: 'SE',
                            estado: 'Sergipe'
                        },
                        {
                            estado_sigla: 'TO',
                            estado: 'Tocantins'
                        }
                    ];

                    var geolocationPromise = new Promise(function(resolve, reject){
                        if(navigator.geolocation){
                            navigator.geolocation.getCurrentPosition(function (position) {
                                latitude = position.coords.latitude;
                                longitude = position.coords.longitude;

                                resolve();
                            });
                        }		
                        else {
                            resolve();
                        }
                    });
                    geolocationPromise.then(function(){
                        var addressPromise = new Promise (function(resolve, reject) {
                            var endereco = (latitude != null && latitude != undefined && latitude != ""  ? (latitude + '-') : '')
                                    + (longitude != null && longitude != undefined && longitude != ""  ? (longitude + '-') : '');

                            var dados = $.ajax({
                                url: "https://nominatim.openstreetmap.org/reverse/?format=json&lat=" + latitude +"&lon=" +longitude,
                                type: 'GET',
                                dataType: 'json',
                                contentType: 'aplication/json'
                            });
                            dados.done(function () {
                                cidade = dados.responseJSON.address.city;
                                estado = dados.responseJSON.address.state;
                                pais = dados.responseJSON.address.country;
                                resolve();
                            });
                            dados.fail(function() {
                                console.log("teste") // TODO
                            });
                        });
                        addressPromise.then(function(){
                            if (pais) {
                                $("#user_country").val(pais);
                            }
                            if (estado) {
                                var estado_tratado = estados_brasil.find(function (el) {
                                    return el.estado == estado;
                                });

                                if (estado_tratado && estado_tratado.estado_sigla) {
                                    estado = estado_tratado.estado_sigla;
                                }
                                else {
                                    var estado_split = estado.split(" ");

                                    if (estado_split.length > 1) {
                                        estado = estado_split[0].substring(0,1) + estado_split[estado_split.length - 1].substring(0,1);
                                    }
                                    else {
                                        estado = estado_split[0].substring(0,1);
                                    }
                                }

                                $("#user_state").val(estado);
                            }
                            if (cidade) {
                                $("#user_city").val(cidade);
                            }
                        });
                    });
                </script>
                <% end %>
            </div>
        </div>
    </div>

</div>