<div class='container'>
  <div class='row'>
    <div class='col-4' align='center'>
      <h3>Minhas faculdades favoritas</h3>
      <% @favorite_colleges.each do |fav| %>
          <div class="block">
            <a class="overlay" href="<%= college_spotteds_path(college_id: fav.college.id) %>"><%= fav.college.name %></a>
            <div class="inner" id="edit-and-favorite">
                <% if isPageAdmin(fav.college.id) %>
                  <%= link_to "Editar", edit_college_path(fav.college) %>
                <% end %>
                <% if already_favorited(fav.college.id) %>
                  <%= link_to image_tag('star.png'), favorite_college_path(fav.college, type: "unfavorite"), method: :put %>
                <% else %>
                  <%= link_to image_tag('star-white.png'), favorite_college_path(fav.college, type: "favorite"), method: :put %>
                <% end %>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>
