<div class="favorite_colleges" id="show">

  <div class="jumbotron">
      <h2>Minhas Faculdades Favoritas</h2>
      <div class="collegebox">
        <% @favorite_colleges.each do |fav| %>

          <div class="college" >

            <div class="summary">
              <div class="name">
                <%= fav.college.initials %> - <%= fav.college.unit %>
              </div>

              <div class="options">
                <% if isPageAdmin(fav.college.id) %>
                  <%= link_to "Gerenciar", college_college_whitelists_path(fav.college.id) %>
                  <%= link_to "Editar", edit_college_path(fav.college) %>
                  <%= link_to image_tag('pink_star.svg', width: "17"), favorite_college_path(fav.college, type: "admin"), method: :put, id: "star-purple" %>
                <% else %>
                  <% if already_favorited(fav.college.id) %>
                    <%= link_to image_tag('yellow_star.svg', width: "17"), favorite_college_path(fav.college, type: "unfavorite"), method: :put, id: "star" %>
                  <% else %>
                    <%= link_to image_tag('white_star.svg', width: "17"), favorite_college_path(fav.college, type: "favorite"), method: :put, id: "star-white" %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="details">
              <div class="specifications">
                <%= fav.college.name %> - <%= fav.college.initials %>
                <br>
                <%= fav.college.unit %>
                <br>
                <%= fav.college.city %> - <%= fav.college.state %>
                <br>
                <%= fav.college.country %>
                <br>
              </div>
            
              <div class="college-btn">
                <% if fav.college.request_to_participate == "0" %>
                  <a class="botao small" href="<%= college_spotteds_path(college_id: fav.college.id) %>">Entrar</a>
                <% else %>
                  <% if isPageAdmin(fav.college.id) %>
                    <a class="botao small" href="<%= college_spotteds_path(college_id: fav.college.id) %>">Entrar</a>
                  <% else %>
                    <a class="botao small" href="<%= college_verify_permission_path(college_id: fav.college.id) %>">Entrar</a>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

        <%end%>
      </div>
    </div>
  </div>

</div>
